@charset "UTF-8";

/* 
    em HTML é id = em CSS é "#"
    em HTML é class = em CSS é "."
*/


body{
    background-color: rgb(205, 255, 203);
}

h1{
    color:rgb(4, 109, 0);
}

/* Perceba que estou atribuindo o id principal à tag h1. Ela vai sobrepor o estilo da tag h1 acima. */
h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2{
    color: rgb(73, 109, 71);
}

/* O seletor class sempre deve ter um ponto antes de seu nome */
.basico{
    color:rgb(4, 109, 0);
    font-weight: bold;
}

.intermediario{
    color: rgb(228, 228, 11);
}   

.avancado{
    color: rgb(153, 6, 6);
}

.destaque{
    background-color: rgba(145, 145, 81, 0.425);
}